body{
    background-color: azure;
    padding: 0%;
    margin: 0;
    width: 100%;
    height: 100%;
}
.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    color: rgb(192, 151, 101);
    background-color: rgb(33, 33, 138);
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
}
.anotações{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    margin-left: 20px;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
}
.anotações input{
    font-size: 18px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    
}
.botoes input{
    display: inline-block;
    font-size: 16px;
    height: 35px;
    border-radius: 5px;
    margin: 4px; 
    padding: 0 10px;
    cursor: pointer;
    background-color: rgb(33, 33, 138);
    border-color: rgb(50, 50, 173);
    color: white;
}
.botoes input:hover{
    background-color: rgb(69, 69, 211);
}
.botoes{
    display: flex;
    flex-wrap: wrap; 
    gap: 12px; 
    align-items: center;
    justify-content: flex-start;
}
#caixas{
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 30px; 
    padding: 10px;
    margin: 20px auto; 
    max-width: 900px; 
}
#urgente{
    border: 2px solid #d40808;
    border-radius: 5px;
    padding: 40px;
    width: 600px;
    height: auto;
    text-align: center;
    border-width: 7px;
    background-color: whitesmoke;
    color: black;
}
#naourgente{
    border: 2px solid #f5ff66;
    border-radius: 5px;
    padding: 40px;
    width: 600px;
    height: auto;
    text-align: center;
    border-width: 7px;
    background-color: whitesmoke;
    color: black;
}
#caixas ul, li{
    list-style-type: none;
    padding: 0;
}
#caixas li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px 0;
}
#caixas{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    border-radius: 10px;
    border-color: rgb(33, 33, 138);
    border-width: 5px;
    border-style: solid;
}